@import "reset-css";
@import "./transitions.scss";

* {
  box-sizing: border-box;
}
html{
   overflow-y: overlay;
 }
body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  font-family: Bahnschrift;

}

#__nuxt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

#__layout, .layout {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.page {
  flex-grow: 1;
}

#__nuxt {
  max-width: $maxwidth;
  width: 100%;
  flex-grow: 1;
  box-shadow: 0 0 10px 1px rgba(black, .3);
}


.non-adaptive {
  @include max-md {
    display: none !important;
  }
}

.adaptive {
  @include min-md {
    display: none !important;
  }
}

.paddinged {
  padding: 0 $page_padding;
  @include max-md {
    padding: 0 $page_padding_mobile;
  }
}

.ovh{overflow: hidden;}
.non-scrollbar{
  &::-webkit-scrollbar {
    display: none;
  }
}
