.page {

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: all $transition ease;
  }

  &-move {
    position: absolute;
  }
}

.opacity {
  &-enter, &-leave-to {
    opacity: 0
  }


  &-enter-active, &-leave-active {
    transition: all $transition;
  }
}
